/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  /* border: 0.5px solid red; */
}

.btn {
  color: #ffffff;
  background: #ff900e;
  font-size: 20px;
  border: none;
  padding: 20px 25px;
  border-radius: 8px;
  transition: 1s;
}

.btn:hover {
  color: #ff900e;
  background: #ffffff;
  cursor: pointer;
}

/* Header Styles Start */
.header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 0;
}
/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
}

.nav .nav-title {
  color: #131313;
  font-size: 45px;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav ul li {
  padding-left: 34px;
}

.nav ul li a {
  text-decoration: none;
  color: #424242;
  font-weight: 400;
}

/* Banner */
.banner .banner-info {
  text-align: center;
  padding: 100px 20% 50px 20%;
}

.banner .banner-info .banner-title {
  color: #131313;
  font-size: 64px;
  font-weight: bold;
}
.banner .banner-info .banner-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 32px 0;
}

.banner .banner-img {
  width: 100%;
}

.banner .banner-img img {
  width: 100%;
  object-fit: cover;
}
/* Header Styles End */

/* Quick List Styles Start */
.quick-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 73px;
  align-items: center;
  padding: 85px 60px;
}

.quick-list .quick-list-gallery {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 24px;
}

.quick-list .quick-list-info .quick-list-title {
  color: #727272;
  font-size: 45px;
  font-weight: 600;
  line-height: 53px;
}

.quick-list .quick-list-info .quick-list-title .black {
  color: #131313;
}

.quick-list .quick-list-info .quick-list-title .orange {
  color: #ff900e;
}

.quick-list .quick-list-info .quick-list-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 24px 0 32px 0;
}
/* Quick List Styles End */

/* Features Styles Start */
.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 45px;
}

.features-info {
  padding-right: 100px;
}

.features .features-info .features-title {
  color: #131313;
  font-size: 45px;
  font-weight: bold;
  line-height: 53px;
  border-left: 5px solid #ff900e;
  padding: 0 30% 0 10px;
}

.features .features-info .features-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 24px 0 30px 0;
}

.features-items .item {
  padding: 30px 42px 30px 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.features-items .item .item-title {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}
.features-items .item .item-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.features .features-img {
  width: 100%;
  position: relative;
}

.features .features-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features .features-img .btn {
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  padding: 40px 40px;
  z-index: 100;
  bottom: -70px;
  left: -70px;
}

.features .features-img .btn > p {
  font-size: 25px;
  font-weight: 400;
}
/* Features Styles End */

/* Facts Styles Start */
.facts {
  padding: 130px 0;
}

.facts .facts-title {
  color: #131313;
  font-size: 45px;
  font-weight: bold;
}

.facts .facts-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 24px;
  margin-right: 60%;
}

.facts .facts-boxs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 100px;
  justify-items: center;
}

.facts .facts-boxs .box {
  min-width: 241px;
  text-align: center;
  padding: 45px 35px 59px 35px;
  border: 0.1px solid #ff900e;
  border-radius: 8px;
}

.facts .facts-boxs .box:hover {
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.facts .facts-boxs .box h3 {
  color: #424;
  font-size: 45px;
  font-weight: 600;
  padding: 10px 0 5px 0;
}

.facts .facts-boxs .box p {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}
/* Facts Styles End */

/* Our Sponsors Styles Start */
.our-sponsors {
  padding: 30px 0 130px 0;
  text-align: center;
}

.our-sponsors .our-sponsors-title {
  color: #131313;
  font-size: 45px;
  font-weight: bold;
}

.our-sponsors .our-sponsors-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 24px 30% 50px 30%;
}

.our-sponsors .sponsors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-sponsors .sponsor img {
  width: 100%;
}
/* Our Sponsors Styles End */

/* Footer Styles Start */
.footer {
  text-align: center;
  color: #424242;
  background: #fff4e7;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  padding: 40px 0;
  /* margin-bottom: 200px; */
}
/* Footer Styles End */

/* Media Queries */
/* For Mobile Devices */
@media only screen and (max-width: 688px) {
  /* Common CSS */
  .header,
  .quick-list,
  .features,
  .facts,
  .our-sponsors,
  .footer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn {
    font-size: 18px;
    padding: 18px 22px;
  }

  /* Header Styles Start */
  /* Nav */
  .nav {
    flex-direction: column;
  }

  .nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav ul li {
    padding: 10px 0;
  }
  /* Banner */
  .banner .banner-info {
    padding: 100px 8% 50px 8%;
  }

  .banner .banner-info .banner-title {
    font-size: 50px;
  }
  /* Header Styles End */

  /* Quick List Styles Start */
  .quick-list {
    grid-template-columns: 1fr;
    padding-top: 20px;
  }

  .quick-list .quick-list-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }

  .quick-list .quick-list-gallery .img img {
    width: 100%;
  }

  .quick-list .quick-list-info {
    padding-top: 30px;
  }
  /* Quick List Styles End */

  /* Features Styles Start */
  .features {
    grid-template-columns: 1fr;
  }

  .features-info {
    padding-right: 0;
  }

  .features .features-info .features-title {
    padding-right: 10px;
  }

  .features .features-img .btn {
    font-size: 35px;
    padding: 20px 20px;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Features Styles End */

  /* Facts Styles Start */
  .facts {
    padding-bottom: 60px;
  }

  .facts .facts-description {
    margin-right: 0;
  }

  .facts .facts-boxs {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }

  .facts .facts-boxs .box {
    width: 100%;
  }
  /* Facts Styles Start */

  /* Our Sponsors Styles Start */
  .our-sponsors {
    padding-bottom: 80px;
  }
  .our-sponsors .our-sponsors-description {
    padding: 24px 0 50px 0;
  }

  .our-sponsors .sponsors {
    flex-direction: column;
    gap: 10px 0;
  }
  /* Our Sponsors Styles End */
}

/* For Tablet Devices */
@media only screen and (min-width: 689px) and (max-width: 922px) {
  /* Common CSS */
  .header,
  .quick-list,
  .features,
  .facts,
  .our-sponsors,
  .footer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn {
    font-size: 18px;
    padding: 18px 22px;
  }

  /* Banner */
  .banner .banner-info {
    padding: 100px 8% 50px 8%;
  }

  .banner .banner-info .banner-title {
    font-size: 45px;
  }

  /* Quick List Styles Start */
  .quick-list {
    grid-template-columns: 1fr;
  }

  .quick-list .quick-list-info {
    padding-top: 30px;
  }

  .quick-list .quick-list-gallery {
    justify-items: center;
  }
  /* Quick List Styles Start */

  /* Features Styles Start */
  .features {
    grid-template-columns: 1fr;
  }

  .features-info {
    padding-right: 0;
  }

  .features .features-img .btn {
    font-size: 35px;
    padding: 20px 20px;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
  }
  /* Features Styles End */

  /* Facts Styles Start */
  .facts {
    padding-bottom: 60px;
  }

  .facts .facts-description {
    margin-right: 0;
  }

  .facts .facts-boxs {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  /* Facts Styles Start */

  /* Our Sponsors Styles Start */
  .our-sponsors .sponsors {
    gap: 0 20px;
  }
  /* Our Sponsors Styles End */
}

/* For Large Devices */
@media only screen and (min-width: 923px) and (max-width: 1439px) {
  .header,
  .quick-list,
  .features,
  .facts,
  .our-sponsors,
  .footer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
